spring:
  datasource:
    url: jdbc:log4jdbc:mysql://localhost:3306/db?characterEncoding=utf8&serverTimezone=UTC
    username: root
    password: ytsrq01!
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    generate-ddl: true

  error:
    whitelabel:
      enabled: falsed

logging:
  config: classpath:log4j2.xml
  level:
    root: info

mybatis:
  type-aliases-package: com.api.idus
  mapper-locations: classpath:mybatis/mapper/**/*.xml